aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
anthropic
anyio
attrs
authlib
backoff
beautifulsoup4
boto3
botocore
browser-use
bubus
cachetools
certifi
cffi
charset-normalizer
click
cryptography
cython
defusedxml
distro
faiss-cpu
fastapi
filelock
filetype
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-auth
google-genai
google-generativeai
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
langchain
langchain-anthropic
langchain-aws
langchain-core
langchain-deepseek
langchain-ollama
langchain-openai
langchain-text-splitters
langsmith
markdownify
markupsafe
mem0ai
monotonic
mpmath
multidict
networkx
numpy
ollama
openai
orjson
packaging
patchright
pillow
playwright
portalocker
posthog
propcache
proto-plus
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pyee
pyjwt
# pyobjc-core
# pyobjc-framework-cocoa
pyperclip
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
qdrant-client
regex
requests
requests-toolbelt
rsa
ruff
s3transfer
safetensors
scikit-learn
scipy
screeninfo
sentence-transformers
six
sniffio
soupsieve
sqlalchemy
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
twilio
typing-extensions
typing-inspection
urllib3
uuid7
uvicorn
websockets
yarl
zstandard
